@import url(https://fonts.googleapis.com/css?family=Poppins);

/*
 * Styling for navigation component
 */

/* Styling for navigation container */
.navigation-component {
    width: 3vw;
    height: 3vw;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
    background: #272627;
    border-radius: 10px;
    overflow: hidden;
    z-index: 100000;
}

.navigation-component.active {
    width: 12vw;
    height: 18vw;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
}

/* Styling for navigation toggle button */

.navigation-component .toggle-component {
    width: 100%;
    height: 3vw;
    display: flex;
    justify-content: flex-end;
    background: #ff7324;
    transition: 0.5s;
    cursor: pointer;
}

.navigation-component .toggle-component.active {
    background: #c3b5fa;
}

.navigation-component .toggle-component::before {
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
    content: '+';
    font-size: 3vw;
    color: #ededed;
}

.navigation-component .toggle-component.active::before {
    transform: rotate(315deg);
}

.navigation-component .ul-component {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navigation-component .ul-component .li-component {
    list-style: none;
}

.navigation-component .ul-component .li-component .a-component {
    display: flex;
    text-decoration: none;
    color: #b2b2b2;
}

.navigation-component .ul-component .li-component .a-component .icon-component {
    min-width: 3vw;
    height: 3vw;
    text-align: center;
    line-height: 3vw;
}

/* Styling for each icon-title pair */
.navigation-component .ul-component .li-component .a-component .icon-component .fa {
    font-size: 2vw;
    color: #b2b2b2;
}

.navigation-component .ul-component .li-component .a-component .title-component {
    font-size: 1.5vw;
    line-height: 3vw;
    white-space: nowrap;
}

/* Change background color, icon color, and title color on hover */
.navigation-component .ul-component li:hover {
    background-color: #c3b5fa;
}

.navigation-component .ul-component li:hover .a-component .icon-component .fa,
.navigation-component .ul-component li:hover .a-component .title-component {
    color: #ededed;
}
