.contact {
    margin: 0;
    padding: 0;
    padding-top: 2em;
    padding-left: 5em;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: left;
}

.contact ul {
    position: relative;
    transform: skewY(-15deg);
}

.contact li {
    position: relative;
    list-style: none;
    width: 120px;
    background-color: #303434;
    transition: 0.5s;
    z-index: calc(1 * var(--i));
}

.contact ul li:hover {
    transform: translateX(50px);
    background: var(--clr);
}

.contact ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #303434;
    filter: brightness(0.75);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

.contact ul li:hover::before {
    background: var(--clr);
    filter: brightness(0.75);
}

.contact ul li:after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #303434;
    filter: brightness(0.9);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

.contact ul li:hover::after {
    background: var(--clr);
    filter: brightness(0.9);
}

.contact ul li a {
    text-decoration: none;
    padding: 15px;
    color: #999;
    display: block;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.contact ul li:hover a {
    color: #fff;
}

.contact ul li:last-child::after {
    box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}

.contact ul li span {
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-size: 1.25em;
}

.contact ul li:hover span {
    opacity: 1;
}