*{
    background-color: #121212;
    color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 2% 10%;
}

header{
    text-align: center;
    border: 1px dashed green;
}

nav{
    text-align: center;
}

p{
    text-align: justify;
}
