/* General Reusable CSS */

.container {
    margin: 2em 2.1em;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.text-white {
    color: white;
}

.no-decoration {
    text-decoration: none;
}

.sr-only {
    left: -100vw;
    position: absolute;
}

/* Navigation Bar CSS */

.logo {
    margin: 2rem;
}

.logo-text {
    margin: 2rem;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bolder;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    background: hsl(0 0% 0% / 0.75);
}

/* Use backdrop-filter blur if it's supported */
@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% / 0.02);
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.75em;
}

@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 50%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
        transition: transform 350ms ease-in-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url('../assets/icons/menu.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('../assets/icons/close.svg');
    }
}

@media (min-width: 35em) and (max-width: 55em) {
    .primary-navigation a > span[aria-hidden] {
        display: none;
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem, 5vw, 10rem);
    }
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

/* Body CSS */
body {
    background-color:#383c3c;
    overflow-x: hidden;
}