*{
    background-color: #121212;
    color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 2% 10%;
}

header{
    text-align: center;
    border: 1px dashed green;
}

nav{
    text-align: center;
}

nav a{
    padding: 1%;
    text-decoration: none;
}

nav a:link{
    color : lightblue;
}

nav a:visited{
    color : cadetblue;
}

nav a:hover{
    color : red;
    border: 1px solid gray;
}

nav a:active{
    color : red;
}

p{
    text-align: justify;
}