/* Hero main text sizing */

.hero-text {
    font-size: 1rem;
}

@media (max-width: 35em) {
    .hero-text h1 {
        font-size: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .hero-text h2 {
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media (min-width: 35em) and (max-width: 55em) {
    .hero-text h1 {
        font-size: 2.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .hero-text h2 {
        font-size: 2rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}

@media (min-width: 55em) {
    .hero-text h1 {
        font-size: 3.75rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .hero-text h2 {
        font-size: 2.5rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
}